{% extends 'main.html' %}
{% block home %}
 
 <div class="text-white mt-36 m-0 md:m-52 font-mono"> 
    {% load static %}
    <h2 class="text-left text-4xl md:text-6xl ml-6 text-green-500">{{project.project_name}}</h2><br>
    <span class="flex flex-wrap">
    <h4 class="text-xl ml-6 w-full  ">{{project.project_description}} - ( {{project.start_timeline}} to {{project.end_timeline}} )</h4>
    </span><br><hr><br>
    <span class="flex m-5">
    <h4 class="text-lg md:text-2xl ml-3 border border-white text-left p-8 w-1/2 bg-black rounded-lg font-bold">Languages & Tools used<br><br><p class="text-base md:text-xl font-medium">{{project.technologies_used}}</p></h4><br><br>
    <h4 class="text-lg md:text-2xl ml-3 border border-white text-left p-8 w-1/2 bg-black rounded-lg font-bold">Role<br><br><p class="text-base md:text-xl font-medium">{{project.role}}</p></h4><br>
    </span><br><br>
    <h4 class="text-xl md:text-2xl ml-2 border border-black text-left px-4 md:px-16 bg-black rounded-lg font-bold text-blue-600">Challenges<br><br><p class="text-base md:text-2xl font-normal text-gray-300">{{project.challenges}}<p></h4><br><br><br>
    <h4 class="text-xl md:text-2xl ml-2 border border-black text-left px-4 md:px-16 bg-black rounded-lg font-bold text-blue-600">Results & learnings<br><br><p class="text-base md:text-2xl font-normal text-gray-200">{{project.results_learnings}}<p><br><br>
       </h4>
       <span class="flex justify-center  flex-wrap ">
        <image src='/{{ project.image1 }}' alt="project image 1" class="w-full rounded px-4 md:px-16 py-2 md:py-2">
        <image src='/{{ project.image2 }}' alt="project image 2" class="w-full rounded px-4 py-2 md:px-16 md:py-2">
        <image src='/{{ project.image3 }}' alt="project image 3" class="w-full rounded px-4 py-2 md:px-16 md:py-2">
       </span>
 </div>
 
{% endblock home %}
