.animate-fadeInTop{
    animation: fadeInTop 1.5s ease-in-out forwards;
    transition-delay: 5s;
}
@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-50%); /* Move element up by 100% of its own height */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Reset to its original position */
    }
}
.animate-fadeInSide{
    animation: fadeInSide 1.5s ease-in-out backwards;
    transition-delay: 10s;
}
@keyframes fadeInSide {
    0% {
        opacity: 0;
        transform: translatex(+50%); /* Move element up by 100% of its own height */
    }
    100% {
        opacity: 1;
        transform: translatex(0); /* Reset to its original position */
    }
} 

.playwrite-us-modern{
    font-family: "Playwrite US Modern", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } 

/* .hidden {
    opacity:0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }

.show {
    opacity:1;
    filter: blur(0);
    transform: translateX(0);

} */